RewriteEngine on


#RewriteRule ^next/forum/?$     next/forum.php [NC,L]

RewriteRule  ^next/playground/([A-Za-z0-9-]+)/?$    next/files/playground.php?locale=$1 [NC,L]


RewriteRule  ^program/lang/([A-Za-z0-9-]+)/?$    files/newProgram.php?locale=$1 [NC,L]
RewriteRule  ^next/program/lang/([A-Za-z0-9-]+)/?$    next/files/newProgram.php?locale=$1 [NC,L]


RewriteRule ^forum/?$     forum.php [NC,L]
RewriteRule ^registration/?$     registration.php [NC,L]
RewriteRule ^partner/brainpop/?$     brainPOP.php [NC,L]

RewriteRule  ^programs/([A-Za-z0-9-_]+)/?$            userPrograms.php?locale=$1    [NC,L]    # Process user page
RewriteRule  ^articles/([A-Za-z0-9-_]+)/([A-Za-z0-9-]+)/?$            files/faq/faqItem.php?faqItem=$1&&l=$2    [NC,L]    # Process faq
RewriteRule  ^faqEditItem/([A-Za-z0-9-_]+)/?$         files/faq/faqEditItem.php?faqItem=$1    [NC,L]    # Process faq 
RewriteRule  ^next/articles/([A-Za-z0-9-_]+)/?$       next/files/faq/faqItem.php?faqItem=$1    [NC,L]    # Process faq
RewriteRule  ^next/faqEditItem/([A-Za-z0-9-_]+)/?$    next/files/faq/faqEditItem.php?faqItem=$1    [NC,L]    # Process faq 

RewriteRule  ^index/([A-Za-z0-9-_]+)/?$     index.php?locale=$1    [NC,L]    # Process index
RewriteRule  ^lang/([A-Za-z0-9-_]+)/?$     index.php?locale=$1    [NC,L]    # Process index
RewriteRule  ^donate/([A-Za-z0-9-_]+)/?$    donate.php?locale=$1    [NC,L]    # Process index

RewriteRule  ^next/index/([A-Za-z0-9-]+)/?$      next/index.php?locale=$1    [NC,L]    # Process index
RewriteRule  ^donate/index/([A-Za-z0-9-]+)/?$    next/donate.php?locale=$1    [NC,L]    # Process index

RewriteRule  ^users/([A-Za-z0-9-_\040]+)/?$    users.php?locale=$1    [NC,L]    # Process user page



RewriteRule  ^users/profile/([A-Za-z0-9-_\040]+)/([A-Za-z0-9-\040]+)/?$   users.php?username=$1&&l=$2    [NC,L]    # Process user page
RewriteRule  ^users/profile/([A-Za-z0-9-_\040]+)/?$   users.php?username=$1    [NC,L]    # Process user page

RewriteRule  ^next/users/([A-Za-z0-9-_\040]+)/?$    next/users.php?locale=$1    [NC,L]    # Process user page
RewriteRule  ^next/users/profile/([A-Za-z0-9-_\040]+)/([A-Za-z0-9-\040]+)/?$   next/users.php?username=$1&&l=$2    [NC,L]    # Process user page
RewriteRule  ^next/users/profile/([A-Za-z0-9-_]+)/?$   next/users.php?username=$1    [NC,L]    # Process user page

RewriteRule  ^playground/([A-Za-z0-9-_]+)/?$    playground.php?locale=$1    [NC,L]    # Process playground
RewriteRule  ^next/playground/([A-Za-z0-9-_]+)/?$    next/files/playground.php?locale=$1    [NC,L]    # Process playground
RewriteRule  ^plain/([A-Za-z0-9-_]+)/?$    plain.php?locale=$1    [NC,L]       # Process undefined 
RewriteRule  ^plain/lang/([A-Za-z0-9-_]+)/?$    plain.php?locale=$1    [NC,L]    # Process undefined
RewriteRule  ^project/doc/([A-Za-z0-9-_]+)/?$    documentation.php?locale=$1 [NC,L] #process doc
RewriteRule  ^next/project/doc/?$       next/documentation.php [NC,L]              #process doc
RewriteRule  ^news/([A-Za-z0-9-_]+)/?$    turtlenews.php?locale=$1  [NC,L]                 #process news  
RewriteRule  ^next/news/([A-Za-z0-9-_]+)/?$    next/turtlenews.php?locale=$1 [NC,L]       #process news  


RewriteRule  ^lessons/([A-Za-z0-9-_]+)/?$    learn.php?locale=$1    [NC,L]    # Process lessons
RewriteRule  ^next/lessons/([A-Za-z0-9-_]+)/?$    next/learn.php?locale=$1    [NC,L]    # Process lessons



RewriteRule  ^users/programs/([A-Za-z0-9-]+)/?$   files/viewProgram.php?programid=$1 [NC,L]  #programs
RewriteRule  ^users/programs/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$   files/viewProgram.php?programid=$1&&l=$2  [NC,L]  #programs






RewriteRule ^lang/he/?$   learn.php?locale=he_IL [NC,L]
