/* 
    Document   : lessons
    Created on : 04/03/2012, 12:00:03
    Author     : lucio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#lessonTitle{
    /* 
    border:6px solid #06a; 
    border-color:#06a #fff;
    
    display: block;
    */
}
#lessonStep{
   height: 100px;
}
#lessonStep #lessonStepLabel{
   color :   #3D3624 ;
   font-family: Arial, sans-serif;
   font-size: 20px;
}
.lessonElement{
    display: inline-block;
    margin-left: 20px;
}
.lessonlables
{
   color :   #3D3624 ;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: normal;
   cursor: default;
   margin: 0;
   padding: 0;
   border: 0;
   width : 100px;
   float : left;
}
.lessonlablesright
{
   color :   #3D3624 ;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: normal;
   cursor: default;
   margin: 0;
   padding: 0;
   border: 0;
   width : 400px;
   float : left;
}
.clonedInput{   
    border:6px solid black;
    color: black;  
    display: block;   
}
.stepsSection{
    border:6px solid black;
    color: black;  
    display: block;
    clear: both;
    height: 550px;
}
lable{
   color :   #3D3624 ;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: normal;
}
lable.lessonHeader {
       color :   #3D3624 ;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 17px;
   font-weight: normal;
   line-height: normal;
}
input.lessonInput{
    background-color: white;
    border-color:#A8A8A8 #E5E5E5 #E0E0E0 #B7B7B7;
    border-style:solid;
    border-width:2px;
    height : 22px;
    width : 300px;
    display : inline-block;      
}
input.stepInput{
    background-color: #A8A8A8;
    border-color:#A8A8A8 #E5E5E5 #E0E0E0 #B7B7B7;
    border-style:solid;
    border-width:2px;
    height : 22px;
    width : 200px;
    display : inline-block;      
}
a span {
    display:block; 
    color:#000; 
    background:#c4c4c4; 
    border:1px solid #fff; 
    border-width:2px 1px; 
    text-align:center; 
    padding:4px 16px; 
    width:400px; 
    cursor:hand; 
}
textarea {
    height: 50px;
    width : 700px;
    border:1px solid #A8A8A8; 
}
.leftLessonElem{
    float : left;
    display: inline;
    position: relative;
    width :50%;
}
.rightLessonElem{
    width :50%;
    /* margin-left: 600px;  */
    /* display: inline; */
    float : left;
    height: 400px;
}

.existing_step{
    list-style: none;
    display: inline-block;
    background-image: none;
    line-height: 20px;
    color : grey;
    background-position : 5px 50%;
    width : 30px;
    border:1px solid black;
}