/* 
    Document   : doc
    Created on : Feb 27, 2013, 10:43:54 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
p{
    font-size : 16px;
    color : #7c7c7c;
    font-family: sans-serif;
}
.logo-draw-example{
    border: 1px solid;
    background-color: whitesmoke;
}