/* 
    Document   : doc_rtl
    Created on : Feb 27, 2013, 10:28:55 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/
/*
root { 
    display: block;
}
.content{
    direction : rtl;
} 
.row{
    float:right;
} 
*/
a.innerLink{
    /*
    float :right;
    width: 100%;
    text-align: right;
    */
} 
i.innerIcon{
    /*
    float :right;
    margin-top: 3px;
    margin-left: 5px;
    */
}
/*
#doc_section{
    float:right; 
}
#doc{
    direction:rtl;
}
#about , #page-header , #Doc{ 
    direction:rtl;
    text-align: right;  
}
#about{
    float : right;
}
td.whoarewe , th.whoarewe{
    text-align: right;
}
*/