/* 
    Document   : footer
    Created on : Oct 3, 2012, 2:05:31 PM
    Update     : Dec 2 , 2013
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
} 

.flagIcon{
    height: 50px;
}
#footer{
    float:none;
    margin-left: auto;
    margin-right:auto;
    width : 940px;
    /* background-color : #F7F7F7; */
}
#footer li {
    list-style: none;
    display: inline;
    background-color: ghostwhite;
    border : none;
    
    width : 200px;
    font-weight: bold;
    font:15px arial,sans-serif;

    
} 
#footer_elem{
    height: 20px;
}
:lang(he)#footer_elem li{
    float : right;
}
#footer_elem li{
    float : left;
}

#footer li a {
    font-weight: bold;
    font:15px arial,sans-serif;
    width : 250px;
} 
#turtleAt{
    float : none;
}
#footer > div {
    width : 940px;
}
ul{
    list-style: disc; 
}
