/* 
    Document   : index
    Created on : Jul 5, 2013, 6:05:55 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#hero-top{
    background-color: #E8E8E6;
    border-radius: 10px 10px 10px 10px;
    padding-top: 20px;
    
}
#hero-secondary-title{
    color : black;
    padding-top: 10px;
}
#hero-main-title{
   color : #00007A;
}
.carousel > div >h1 , #running-quote{
    color:purple;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 20px;
    height: 2.5em;

}
.carousel > h3{
    padding-left: 60px;
    padding-right: 20px;
}

#index-main , #topbarMainDiv{
    position: relative;
}
.item{
    height: 12em;
}
#index-main-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../../Images/bg/6.jpg');
    filter: alpha(opacity=30);  
        -moz-opacity: 0.3;  
        -khtml-opacity: 0.3;  
        opacity: 0.3;  

}
p.top{
    color:black;
    margin-bottom: 3px;
}
#crousel-quote , #row-info  , #user-quote{
    background-color: #E8E8E6; 
}
#crousel-quote{

}
#row-info{
    margin-left: -1px;
}
#hero-top , #crousel-quote ,#row-info{
    border-radius: 10px 10px 10px 10px;
}
.example-code{
    height: 55px;
}
p.example-title{
    height: 55px;
    font-weight: bold;
    font-size: 22px;
    color: blue;
}
#start-logo-p{
    font-size: 24px;
}
.span4 {
    background:white; border-radius: 5px; text-align: center;
}