/* 
    Document   : index
    Created on : Jul 5, 2013, 6:05:55 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#hero-top{
    /*background-color: #E8E8E6;*/
    background-color: #D6D6C2;
    border-radius: 10px 10px 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border : 1px solid black;
    
}
#hero-secondary-title{
    /*color : black;*/
    padding-top: 10px;
    color : #666;
}
#hero-main-title{
    /*color : #00007A;;*/ 
    color : #666;
}
.carousel > div >h1 , #running-quote{
    color:purple;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 20px;
    height: 2.5em;

}
.carousel > h3{
    padding-left: 60px;
    padding-right: 20px;
}
.span5 > h2 {
    color: #666;
}


#index-main , #topbarMainDiv{
    position: relative;
}
.item{
    height: 12em;
}
#index-main-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../../Images/bg/6.jpg');
    filter: alpha(opacity=30);  
        -moz-opacity: 0.3;  
        -khtml-opacity: 0.3;  
        opacity: 0.3;  

}
p.top{
    color:#666;
    margin-bottom: 3px;
}
#crousel-quote , #row-info  , #user-quote{
    border : 1px solid black ;
    background-color: whitesmoke; 
}

#row-info{
    margin-left: -1px;
}
#hero-top , #crousel-quote ,#row-info{
    border-radius: 10px 10px 10px 10px;
     border : 1px solid black ;
}
#row-info{
    background-color: #D6D6C2;
}
.example-code{
    height: 5em;
    color : black;
}
p.example-title{
    height: 30px;
    font-weight: bold;
    font-size: 22px;
    color: blue;
}
#start-logo-p{
    font-size: 1.2em;
    margin-top: 330px;
    color:#666;
}
.span4 {
    background:white; border-radius: 5px; text-align: center;
}
.example-continer{
    margin-top: 10px;
}
.example{
    border : 1px solid black ;
    background-color: whitesmoke;
}
#goto-buttons{
    margin-top: 10px;
}