/* 
    Document   : index
    Created on : Jul 5, 2013, 6:05:55 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#hero-top , #crousel-quote , #row-info{
    direction: rtl;
}
.example{
    float:right;
}
.example-continer{
    float: right;
}
.row div.row-info-div{
    float: right;
}