/* 
    Document   : interface
    Created on : 09/10/2011, 14:13:45
    Author     : turtle academy
    Description: css for index of turtle academy.com
*/

root { 
    display: block;
}

.jqconsole {
    background-color: #EEE;
    color: black;
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;

    /*bottom: 0;
    left: 0;*/
    margin: 0;
    padding: 10px;
    padding-bottom: 10px;
    /*position: absolute;*/
    overflow: scroll;
    /*right: 0;
    top: 0;*/
}
.jqconsole-cursor {
    background-color: blue;        
}
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
.jqconsole-prompt {
    color: #060;
}
.jqconsole-old-prompt {
    color: #040;
    font-weight: normal;
}
.jqconsole-input {
    color: #dd0;
}
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
.brace {
    color: #077;
}
.paran {
    color: #707;
}
.bracket {
    color: #770;
}

#console {
    width: 100%;
    min-height: 1px;
    clear: both;
    margin: 3px 0px;
}      

body, p {
    font-family: sans-serif; 
    font-size: 13px;
}

dt, dd {
    font-size: 8pt;
}

code { font-family: monospace; }

#guide {
    position: absolute;
    right:10px;
    top: 10px;
    width: 300px;
    /*height: 400px;*/

    padding: 5pt;
    padding-top: 0px;

    z-index: 10;

    color: black;
    background-color: white;
    border: solid 1px black;
}

.menu {
    padding:0; 
    margin:0; 
    list-style-type:none;
    white-space:nowrap;
}
* html .menu a {
    width:100px;
}
.menu a span {
    display:block; 
    color:#1c94c4; 
    background:whitesmoke; 
    border:1px solid #fff; 
    border-width:2px 1px; 
    text-align:center; 
    padding:4px 16px; 
    cursor:pointer;
}
* html .menu a span {
    width:100px; 
    cursor:hand; 
    /*width:66px;*/
}
.menu a b {
    display:block; 
    border-bottom:2px solid #06a;
}
.menu a em {
    display:none;
}
.menu a:hover {
    background:#fff;
}
.menu a:hover span {
    color:#fff; 
    background:#08c;
}

#main {
    margin:auto;
    overflow: hidden;
    width: 970px;
}


#display {
    width: 660px;
    height: 350px;
    position: relative;
    margin-top: 1px;
}
#displayplain {
    width: 940px;
    height: 500px; 
   /* position: relative;
    margin-top: 1px; */
}
#turtletitle {
       margin:auto;
       overflow: hidden;
       width: 500px; 
       font-size: 1.7em; 
}
#footer {
    margin: 10px auto;
    overflow: hidden;
    width: 970px;
    text-align: center;
}

#sandbox{
    position: absolute;
    z-index: 0;
}

#turtle{
    position: absolute;
    z-index: 1;
}
#ddmenu{
  width: 120px;
  text-align: left;
  color: rgb(0, 136, 204);
  background-color: white;
  z-index: 1000;
  position: absolute;
  padding-right: 20px;
  right: -1px;
}
.dropdown-menu li a.innerLink{
     color: rgb(0, 136, 204);
     background-color: rgba(0, 0, 0,0);
}
#accorPlusNav{
    width: 300px;
}