/* 
    Document   : registration
    Created on : Jan 29, 2013, 9:37:03 AM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#sign-in-form , #sign-up-form , #forgot-password-form{
    direction : rtl;
}
  #signInPasswordLbl  , #remember_checkbox , #terms_up  {
    float: right;
}
#signUpEmailLbl , #signUpUserNameLPwdLbl , #forgotEmail{
    float : right;
    width: 100px;
    text-align: right;
}
#signInPasswordLbl{
    width: 50px;
} 
#remember_span , #signupAgreeToTerms{
    float : right ;
    margin-right: 20px;
}
#signInUserNameLbl ,#signUpUserNameLbl , #signInPasswordLbl{
 float : right;
 text-align: right;
 width : 260px; 
}
.form-stacked label.error{
    float : right;
}
#turtleimg , #turtleHeaderTitle , #turtleHeaderUl , #turtleHeaderLanguage{
    float:right;
}