/* 
    Document   : topbar
    Created on : Feb 5, 2013, 7:59:12 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.pull-right#loggedUserUl{
    float: right;
}
.pull-left#loggedUserUl{
    float: left;
}
 #turtleHeaderTitle , #turtleHeaderUl , #turtleHeaderLoggedUser  {
    margin-top: 35px; 
} 
#turtleHeaderLanguage{
  margin-top: 44px;   
}
#turtleHeaderLogin{
   margin-top: 32px;   
}
#dLabel{
    color:#ffffff; 
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 19px;
}
 .nav.pull-right#turtleHeaderUl{
    float: right;
}
.nav.pull-left#turtleHeaderUl{
    float: left; 
}
.pull-left ul li ul{
    left:-1px;
}
#ddmenu{
  width: 120px;
  text-align: left;
  color: rgb(0, 136, 204);
  background-color: white;
  z-index: 1000;
  position: absolute;
  padding-right: 20px;
  right: -1px;
}
.topbar div .dropdown-menu li a.innerLink{
     color: rgb(0, 136, 204);
     background-color: rgba(0, 0, 0,0);
}
#turtleHeaderUl li a{
    color:gray;
} 
#turtleHeaderLoggedUser{
    width:200px;
    font-size: 13px;
}
#selectedLanguage{
    width : 120px;
}
#topbarContainer , #topbarfill{ 
   float : none ;
   background-color: white;
}
#topbarMainDiv{
    position: static;
    background-color: white;
}
#topbarfill{
    filter : none;
}