/* 
    Document   : topbar_rtl
    Created on : Feb 7, 2013, 8:31:53 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#turtleimg , #turtleHeaderUl{
    float: right;
}
#loggedUserLI{
    float: right;
}