/* 
    Document   : users
    Created on : Sep 8, 2013, 7:33:28 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

.row{
    float:none;
}
#mainContainer{
    float:none;
}
#topbarContainer{
    float:none;
}
.sidebar.well.span4{
    width: 180px;
}
.ads tbody tr td{
    cursor:pointer !important;
}
.highlight td{
    font-weight:bold;
}
td.mini-thumbnail img{
    max-height:50px;
    max-width:100px;
}
td.mini-thumbnail{
    text-align:center;
}

:lang(he)#user_menu{
        float : right;
    direction: rtl;
}
:lang(he)#usrLessonDiv{ 
    direction : rtl;
    text-align: right;
} 
:lang(he)#my_lessons > thead > tr > th , :lang(he)#my_lessons > tbody > tr > td {  
    text-align: right;
}
#myMessages{
    height: 300px;
    overflow : scroll ;
        
}
.read {
    color : black;
}
.ui-dialog-titlebar{
    color: blue !important;
    background: white !important;
}
.ui-dialog-content
{
    color: black !important;
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;

}
.ui-widget-content a {
    color: #0088cc !important; 
}
.ui-dialog , .ui-dialog-content{
    background-color: white !important;
}
.ui-dialog-title{
    font-size: 18px;
    height: 20px;
}