/* 
    Document   : users_rtl
    Created on : Feb 7, 2013, 2:24:49 PM
    Author     : Lucio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.sidebar.well.span4{
    float : right;
    direction: rtl;
}
#usrLessonDiv{
    direction : rtl;
    text-align: right;
}
table .span4 , .ads tbody tr td{
    text-align: right;
} 
